// layout values
tvWidth = 200px
tvHeight = tvWidth * 0.725
tvBGWidth = tvWidth - 10
tvBGHeight = (tvBGWidth * 0.575) - 10
tvMargin = 15px

// mix-ins
transform(t)
  -webkit-transform t
  -moz-transform t
  -ms-transform t
  -o-transform t
  transform t

user-select(t)
  -webkit-user-select t
  -moz-user-select t
  -ms-user-select t
  -o-user-select t
  user-select t

box-sizing(t)
  box-sizing t
  -moz-box-sizing t
  -webkit-box-sizing t


/* ------------------------------------------------------ */
/* ELEMENTS */
/* ------------------------------------------------------ */

*
  margin 0
  padding 0

body
  margin 0 auto 100px auto
  font-family Helvetica Neue, Helvetica, Verdana, sans-serif
  background-color #000
  color #FFF

div
  position relative
  height auto
  z-index 10
  box-sizing(border-box)

/* ------------------------------------------------------ */
/* BACKGROUNDS */
/* ------------------------------------------------------ */

.original1
  background-image url(../img/bg_starz.jpg)
  background-repeat no-repeat
  background-attachment fixed
  background-size cover
  background-position center bottom

/* ------------------------------------------------------ */
/* GENERAL LAYOUT */
/* ------------------------------------------------------ */

#sizeAlert
  display none
  font-size 22px
  font-weight lighter
  margin-top 25px

.screen
  width 90%
  margin 10px auto

.overlay
  position fixed
  z-index 10000
  margin-top 100px
  left 50%
  margin-left -250px
  height auto
  width 500px

.padding
  padding 5px

.lightPad
  padding 5px

.heavyPad
  padding 25px

.lightMargin
  padding 5px

.imgResponsive
  width 100%

.width25
  width 25%
  height auto

.width20
  width 22%
  height auto
  padding 1%

/* ------------------------------------------------------ */
/* TYPOGRAPHY */
/* ------------------------------------------------------ */

p
  user-select(none)
  margin-bottom 5px

.copy1
  width 70%
  margin 5px auto 5px auto
  line-height 1.6em
  text-align justify

.header2
  width 70%
  margin 5px auto 5px auto
  line-height 1.6em
  text-align justify
  font-size 16px

.largeFont
  font-size 20px
  font-weight lighter
  line-height 1.2em

.mediumFont
  font-size 17px
  line-height 1.6em

.regularFont
  font-size 14px

.smallFont
  font-size 10px

.centerText
  text-align center

.jText
  text-align justify

/* ------------------------------------------------------ */
/* COLORS */
/* ------------------------------------------------------ */

.ltBlue
  color lightskyblue

.stzBlue
  color #0f789e

.stzOrange
  color #bd5a03

.stzGray
  color #b2b2b2

.blackBG
  background-color #000

/* ------------------------------------------------------ */
/* SCREENS */
/* ------------------------------------------------------ */

#titleImage
  width 700px
  height 681px
  position fixed
  top -80px
  left 50%
  margin-left -350px
  z-index -100

.screen
  display none

.titleButtons
  margin-top 240px

.subtitleText
  height 50px
  margin 10px auto 10px auto

/* ------------------------------------------------------ */
/* GENERAL UI / MISC SCREEN ELEMENTS */
/* ------------------------------------------------------ */

#nav
  z-index 10000

#gameOptions
  position fixed
  bottom 0
  left 0
  width 40px
  z-index 5000

#legal
  position fixed
  width 70%
  margin-left 15%
  bottom 0
  left 0
  z-index 1000
  background #000
  padding 5px

.toggleButton
  display none

.hotspot
  cursor pointer

.alertScreen
  display none

.button1, .button2
  width 180px
  height 50px

.icon1
  width 65px
  height 65px

.noselect
  user-select(none)

/* ------------------------------------------------------ */
/* VIDEO PLAYER */
/* ------------------------------------------------------ */

#video
  width 533px
  margin -150px 0 0 -266px
  top 30%
  left 50%
  padding 20px
  background-color #000
  position fixed

/* ------------------------------------------------------ */
/* GAME */
/* ------------------------------------------------------ */

#instructions
  width 600px
  height 360px
  margin auto

#instructions .prev, #instructions .next
  width 65px
  height 65px

#instructions .item
  height 350px

#instructions .item img
  padding-bottom 15px

#tvWrapper
  margin 0 auto
  width tvWidth*4 + tvMargin*8

.tv
  width tvWidth
  height tvHeight
  float left
  margin tvMargin tvMargin tvMargin tvMargin

.tv .tvScreen
  background-size tvBGWidth tvBGHeight
  background-repeat no-repeat
  background-position 5px 5px

.tv .tvScreen .timer
  position relative
  top -55px
  height 5px
  background-color #008000
  margin 0 auto 0 auto

.tv .tvScreen .alert, .tv .tvScreen .bonus
  position absolute
  width tvWidth*.75
  height 40px
  top 40px
  margin-left 50%
  left -((tvWidth*.75)/2)

.tv .tvScreen .alert .animate, .tv .tvScreen .bonus .animate
  width 75px
  margin 0 auto

.tv .broken1
  transform(rotate(3deg))

.tv .broken2
  transform(rotate(-1deg))

.tv .broken3
  transform(rotate(2deg))

.tv .broken4
  transform(rotate(-4deg))

.gameCursor
  cursor: url(../img/crosshair.png), auto;


/* ------------------------------------------------------ */
/* QUIZ */
/* ------------------------------------------------------ */

#triviaImageLeft, #triviaImageRight
  position fixed
  top 0px
  width 400px
  z-index -10

#triviaImageLeft
  left 0

#triviaImageRight
  right 0

p.questionText
  font-size 18px
  font-weight lighter

.questionAnswers .triviaButton
  display block
  width 500px
  height 50px
  margin 3px auto
  text-align center
  font-size 14px
  font-weight lighter
  line-height 3em
  overflow hidden

.questionAnswers .default, .questionAnswers .correct, .questionAnswers .incorrect
  background-repeat no-repeat
  background-position middle left

.questionAnswers .default
  background-image url(../img/button_trivia.svg)

.questionAnswers .correct
  background-image url(../img/button_trivia_correct.svg)

.questionAnswers .incorrect
  background-image url(../img/button_trivia_incorrect.svg)